<section id="includes">
<p><b>Includes:</b> The following directories will be included in the backups, even if there is a matching exclude rule. Wildcards are allowed.</p>
<ul>
  <% if @profile.includes.size == 0 %>
    <li><i>None</i></li>
  <% end %>
  <% @profile.includes.each do | include | %>
    <li><%=h include.path %>
      <% if can?(:manage, include) %>
        (<%= link_to 'Edit', edit_profile_include_path(@profile, include) %> | <%= link_to 'Destroy', [@profile, include], :confirm => 'Are you sure?', :method => :delete %>)
      <% end %>
    </li>
  <% end %>
</ul>
<% if !read_only && can?(:manage, Include) %>
  <section>
    <h3>Add include</h3>
    <% @include = @profile.includes.build %>
    <%= render :partial => 'includes/form' %>
  </section>
  <% end %>
</section>
