<% content_for :header do %>
  Profiles
<% end %>
<% content_for :search do %>
  <%= form_for @search, :url => profiles_path, :as => 'search' do |f| %>
      <%= f.text_field :name_cont, :autofocus => 'autofocus' %>
  <% end %>
<% end %>

<section>
<h3>Profiles overview</h3>
<div id="listing">
  <%= render :partial => 'listing' %>
</div>
</section>

<% add_action 'Add', new_profile_path if can?(:manage, Profile) %>
